body{
    background-color: rgba(199, 49, 176, 0.991);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: cursive;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    margin-top: 10px;
}
h3{
    text-align: center;
    margin-top: 0;
    padding: 0;
}
.main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 570px;
    width: 450px;
    margin: auto;
    margin-top: 10px;
    border: 2px solid white;
    border-radius: 4px;
    padding: 10px;
    
}
.fname, .lname, .email, .phone, .fullname, .dob, .pass{
    margin-left: 29px;
    width: 270px;
    height: 32px;
    margin-top: 10px;
    padding-left: 3px;
    outline-color:white;
}
.fname{
    margin-left: 23px;
}
.email, .dob{
    margin-left: 2px;
}
.phone{
    margin-left: 38px;
}
.fullname{
    margin-left: 35px;
    
}
.pass{
    margin-left: 38px;
}
.passRe{
    margin-left: 5px;
    width: 235px;
    height: 32px;
    margin-top: 10px;
    padding-left: 3px;
    outline-color:white;
}
.genderM{
    margin-left: 80px;
    margin-right: 10px;
}
.genderM, .genderF{
    margin-top: 15px;
}
.genderF{
    margin-left: 30px;
    margin-right: 10px;
}
.error{
    font-size: 15px;
    margin: 0;
    padding: 0;
    color: white;
}
.graduation{
    margin-top: 15px;
    margin-left: 15px;
    height: 30px;
    background: transparent;
    background-color: rgba(199, 49, 176, 0.991);
    border-radius:4px solid white;
    border-color: white;
    color: white;
}
#checkbox{
    margin-top: 10px;
    margin-left: 22px;
}
.checkbox{
    margin-right: 4px;
}
select{
    border-color: white;
    outline: 1px solid white;
}
input:focus{
    outline: none;
    border-color: white;
}
input{
    background-color: transparent;
    color: white;
    border-color: white;
    font-size: 13px;
    outline: none;
}
.submit, .reset{
    height: 40px;
    width: 80px;
    text-align: center;
    background-color: rgb(220, 20, 170);
    border: 2px solid white;
    color: white;
    border-radius: 3px;
    margin-top: 33px; 
    cursor: pointer;
    font-weight: 600;
      
}
.submit{
    margin-left: 30%;
    margin-right: 10px;
}
::placeholder{
    color: white;
    opacity: 0.5;
}
